<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="http://localhost:3003/" method="POST">
    <input type="text" name="kode" placeholder="Kode" />
    <input type="text" name="nama" placeholder="Nama" />
    <button type="submit">SIMPAN</button>
  </form><br /><br />
  <table>
    <tr>
      <td>No.</td>
      <td>Kode</td>
      <td>Nama</td>
    </tr>
    <% for (let i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= data[i].kode %></td>
        <td><%= data[i].nama %></td>
    </tr>
    <% }; %>
  </table>
</body>
</html>